{% extends '::base.html.twig' %}

{% block body %}
    <h1>Need to increase your business?</h1>

    <p>Crowdser allows you to significantly increase your sales without expanding your sales organisation. We give you
        quick access to the world’s largest network of qualified sellers. Join the professional sales network and there
        will be highly motivated sellers ready to work for you.</p>

    <ul>
        <li>Register your product</li>
        <li>Invite top contractors</li>
        <li>Monitor your growing sales</li>
    </ul>
{% endblock %}